* {
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Georgia";
  src: url(/cssFiles/Georgia\ Font/Georgia.ttf);
  font-weight: normal;
}

body {
  color: black;
    background-color: #4f69ee;

}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  padding: 2em;
  background: #05013f;
}

header .nav .logo img {
  height: 60px;
  width: 70px;
}

header .nav .nav-links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav .nav-links a {
  color: white;
  text-decoration: none;
}

.landing-content {
  position: relative;
  background-image: url("/imageFiles/twbg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.landing-content-2 {
  position: absolute;
  display: flex;
  z-index: 1;
  background: #00000085;
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-content-2 h1 {
  font-size: 15em;
  font-family: "Georgia";
}

.landing-content-2 p {
  font-size: 2em;
  font-family: "Georgia";
}

.CTAs {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

.btn {
  background-color: #0a1a5e;
  opacity: 1;
  color: white;
  border: 1px solid #d4af37;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #10227a;
  color: aliceblue;
}

.bn:hover {
  background-color: #10227a;
  color: aliceblue;
}
 .bn { /* Work on the button size */
  background-color: #0a1a5e;
  color: white;
  border: 1px solid #d4af37;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
margin-left: 10px;
}

.sub {
  height:100vh;
  padding: 12px 0;
}
.cards{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 12px 0 12px 24px;
  color: #05013f;
  font-size: 24px;

}

.Recent{
  background-color:white ;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  height: 50vh;
  text-align: center;
}
.Recent .icon img{
  width: 30px;
  height: 20px;
  margin-bottom: 10px;
}

/* a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: blue;
}

.nav{
    background-color: gold;
    display: flex;
    gap: 0.5%;
    padding: 0.5em;
    font-family: 'Times New Roman';
    font-size: 15px;
    flex-direction: row;
    align-items: center;
    height: 4em;
}

.nav-links{
    margin-left: 45%;
    gap: 10%;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.nav-links a{
    padding: 0% 0% 0% 0.1%;
}

.image{
    display:flex;
    justify-content: center;
}

.log{
    width: 30%;
    height: auto;
    border-radius: 70%;
}

.landing-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: Georgia;
    gap: 19.9%;
}

h1{
    font-style: oblique;
    font-weight: bolder;
    color: green;
    font-size: 300%;
}
/*look into these below*/

/* .landing-content p{
    font-family: Georgia;
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-style: italic;
    color:aqua
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.social-media > a > img {
    height: 24px;
    width: 24px;
}

.CTAs{
    display: flex;
    gap: 10px;
}

.CTAs button {
    width: fit-content;
    height: fit-content;
}

.CTAs button A{
    color: yellow;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid #2c2c2c;
}

@media only screen and (max-width: 768px) {
    .nav{
        flex-direction: column;
    }

    .nav-links{
        margin-left: 45%;
        flex-direction: column;
    }
} */
